@page
@model Infrastructure.Areas.Admin.Books.IndexModel
@{
    
}

<h1 class="text-center mb-4">Quản lý sách</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<a asp-page="./Create" class="btn btn-success mb-3">Thêm sách mới</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%;">Tên sách</th>
            <th style="width: 10%;">Tác giả</th>
            <th style="width: 10%;">Giá</th>
            <th style="width: 10%;">Trạng thái</th>
            <th style="width: 20%;">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", book.Price)</td>
                <td>
                    @if (book.Status == Entities.Enums.EntityStatus.Active)
                    {
                        <span class="badge bg-success text-white">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-secondary text-white">Inactive</span>
                    }
                </td>
                <td>
                    <a href="@Url.Page("./Edit", new { id = book.Id })" class="btn btn-primary">Chỉnh sửa</a>

                    @if (book.Status == Entities.Enums.EntityStatus.Active)
                    {
                        <form method="post" asp-page-handler="Suspend" asp-route-id="@book.Id" class="d-inline">
                            <button type="submit" class="btn btn-warning">Đình chỉ</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-page-handler="Activate" asp-route-id="@book.Id" class="d-inline">
                            <button type="submit" class="btn btn-success">Kích hoạt</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
